
input {
    border: 2px solid cadetblue
}

input:user-invalid {
    border-color: red;
}

input[type="password"] {
    background-color: #f7decdeb !important;
    border: none; /* Сброс границы (если требуется) */
}

/* Общий стиль для карточки */
.card-my {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    text-align: left;
}

/* Заголовок */
.card-my h3 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

/* Форм-группы */
.form-group-my {
    margin-bottom: 15px;
}

/* Метки */
.form-group-my label {
    font-size: 16px;
    color: #555;
    margin: 5px;
}

/* Поля ввода */
.form-control-my {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    transition: all 0.3s ease;
}

.form-control-my:focus {
    border-color: #71a298;
    box-shadow: 0 0 5px rgba(113, 162, 152, 0.5);
    outline: none;
}

/* Кнопка */
.btn-my {
    border: none;
    background-color: #1797f9;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}

.btn-my:hover {
    background-color: #1a8afa;
}

/* Сообщения об ошибках */
.error-list {
    color: red;
    margin-top: 10px;
}

.error-list li {
    list-style-type: none;
}

.task-container {
    max-width: 600px;
    width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
}

.priority-badge {
    position: absolute; /* Абсолютное позиционирование */
    top: 20px; /* Отступ сверху */
    right: 20px; /* Отступ справа */
    font-size: 14px;
    padding: 10px;
    border-radius: 15px;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-container h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.task-container p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.status-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.status-form p {
    font-size: 16px;
    margin-right: 15px;
    margin-bottom: 0;
}

.status-form select {
    width: 110px;
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

.status-form select:focus {
    border-color: #71a298;
    box-shadow: 0 0 5px rgba(113, 162, 152, 0.5);
    outline: none;
}

.task-footer {
    font-size: 14px;
    color: #777;
    margin-top: 20px;
}

/* Убираем нумерацию только для последнего элемента */
.list-group-numbered .no-number {
    counter-increment: none;
    position: relative;
}

.list-group-numbered .no-number::before {
    content: '';
    position: absolute;
    left: -2rem; /* Отступ для совместимости с нумерацией */
}

.task-container-ap {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
}